body{
    overflow-x: hidden;
}
#main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
    top: 69px;
    position: absolute;
    overflow-y: scroll;
  }
  
  .btn {
    margin: 1rem 1rem 0 0;
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: 1px solid #808080;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #e4e3e34d;
  }
  
  #page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    overflow: hidden;
    background: #F5F5F5;
  }
  @media screen and (max-width: 768px){
    .p-dialog{
      width: 25rem !important;
    }
  }
  @media screen and (min-width: 468px) {
    #page {
      /* font-size: 3rem; */  
    }
  
    .btn {
      padding: 0.5rem 0.75rem;
      gap: 0.5rem;
    }
  }
  
  .app__brand__text {
    font-size: 2rem;
    font-weight: 700;
    color: #5a8dee;
    margin-left: 0.5rem;
  }
  
  /* Sidebar toggle button starts */
  .outer__circle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #227699;;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .outer__circle::after {
    position: absolute;
    top: 0.225rem;
    left: 0.215rem;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .inner__circle {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #5f97ef;
    z-index: 100;
  }
  
  .inner__circle::after {
    position: absolute;
    top: 0.125rem;
    left: 0.15rem;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
  }

  .p-divider.p-divider-vertical {
    margin: 0 1rem;
    padding: 0px !important;
}

/* style scroll bars */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-steelblue) rgb(238, 242, 249);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  /* background: rgb(238, 242, 249); */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-steelblue);
  /* border-radius: 20px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(238, 242, 249);;
}


element.style {
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.75rem 0.75rem;
    border: 0 none;
    color: rgba(0, 0, 0, 0.87);
    background: transparent;
    transition: none;
    border-radius: 0;
}
.p-multiselect-item {
  font-family: var(--title) ;
}
.p-calendar-w-btn-right .p-inputtext{
  font-family: var(--title) ;
}

.leaflet-container {
  background: #ddd;
  outline: 0;
  height: 56vh !important;
}